*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li {
    list-style-type: none;
}

body { 
    background-color: black;
    background-image: url("../assets/img/FONDO3.jpg");
    background-repeat: repeat;
    background-size: 50%;
    display: grid;
    grid-template-rows: .8fr .2fr;
    grid-template-areas: "main"
                         "footer";
    margin: 0;
    padding: 0;

}


.NavBar {
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: space-evenly;
    /***background-color: rgba(255, 34, 0, 0.633); ***/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
        grid-area: main;
        background: url("./assets/img/77407.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(5, 100px);
        grid-template-rows: repeat(5, 100px);
        justify-content: center;
        align-content: center;
      }



.footer {
    display: inline-block;
    padding: 0px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;;
}

.form-contact {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-60%, 10%);
}

.contact {
    padding: .8rem;
    overflow: hidden;
}

.contact label, .contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.contact label {
    font-weight: 700;
}

.contact textarea {
    min-height: 100px;
}

input {
    padding: 10px;
    cursor: pointer;
}


.informaticus {
    display:grid;
    padding: 8px;
    text-align: center;
    justify-content: space-evenly;
    color: rgb(213, 204, 204);
    font-family: Georgia, 'Times New Roman', Times, serif
}

.sobre-mi {
    display:grid ;
    padding: 10px;
    text-align: center;
    justify-content: space-evenly;
    color: rgb(213, 204, 204);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.artisticus {
    display:flex;
    padding: 100px;
    text-align: center;
    justify-content: space-evenly;
    color: rgb(213, 204, 204);
    font-family: Georgia, 'Times New Roman', Times, serif
}













